
/*body {
  background-image: url("pics/yellow_umbrella.jpg");
  background-size: cover;
}*/

body{margin:40px
auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
10px}

body>h1 {
  font-family:
  text-align: center;
  color: green;
  /*background-color: blue;*/
}

* {
  font-family: 'Amatic SC', cursive;
}
